* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: url(image/background.jpeg);
    background-position: center;
    background-size: 50% 100%;
    overflow-y: hidden;
    backdrop-filter: blur(.2rem) !important;
    font-size: 1.5rem;
    line-height: 3rem;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
#js-title {
    background-color: rgba(81, 196, 241);
    width: 100%;
    text-align: center;
    padding:.8rem 0;
    transform: translateY(-500%);
    animation: js-title 5000ms forwards;
}
.animation-paused {
    animation-play-state: paused !important;
}
@keyframes js-title {
    to {
        transform: translateX(0);
    }
}
.fa {
    position: absolute;
    top:0;
    right:0;
    font-size: 3rem;
}
.fa:hover {
    color: black;
    cursor: pointer;
}
ul {
    position: absolute;
    top:15%;
    color: aliceblue;
    right:0;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.829);
    padding:1rem 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .5rem;
    width: 75%;
    li {
        border: 2px solid;
    }
    li:hover {
        background-color: gray;
        color: black;
        cursor: pointer;
    }
}
.hidden {
    display:none;
}
#quotes {
    position: relative;
    background-color: rgba(81, 196, 241, 0.756);
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem .5rem;
}
button {
    border: none;
    padding:.5rem;
    font-size: 1rem;
    transition: background-color 300ms,color 300ms;
}
button:hover {
    background-color: rgb(5, 105, 114); 
    color: aliceblue;
    cursor: pointer;
}
.my-buttons {
    display: flex;
    justify-content: center;
    gap:1rem;
}
article {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#para-quote,#author,#quotes-title {
    color: aliceblue;
    text-align: center !important;
}
#quotes-title {
    color: black;
}
@media(width<525px) {
    html {
        font-size: 13px;
    }
}
@media(width<400px) {
    #js-title {
        font-size:2rem;
    }
    .fa {
        font-size: 2rem;
    }
}
